<!DOCTYPE html>
<html>
   <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
   <div class="about content"> 
      <h2>about us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nobis enim animi fugiat a ipsum libero cumque quidem dignissimos quis exercitationem, in quos ducimus provident voluptatibus fugit corporis aspernatur molestiae?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis commodi, amet, aliquid hic recusandae rerum omnis soluta cumque optio cum quaerat dolores architecto praesentium quibusdam.</p>

   </div>
</body>
</html>
